In [ ]:
# Homework 5 - AB Test

In [ ]:
!pip3 install google.analytics.data
!pip3 install pingouin

In [ ]:
from google.analytics.data_v1beta import BetaAnalyticsDataClient
from google.analytics.data_v1beta.types import (
    DateRange,
    Dimension,
    Metric,
    RunReportRequest,
    Filter,
    FilterExpression,
)
import os
import pandas as pd
import json
import scipy.stats as st
import numpy as np
from pingouin import ttest
from google.colab import userdata

# Project 1
Compare the session numbers for the two campaigns: one with medium being "announcement" and the other with medium being "canvas". Perform statistical tests to compare the difference.

Please make sure to upload the json file to the working folder.
Add a secret key:
- Name: GOOGLE_CREDENTIALS_PATH
- Value: name of the json file.

## Problem 1.1

Construct the function sample_run_report:
- keep dimensions: source, medium, campaignName, date
- keep metric: sessions
- date range: start_date="2025-01-01", end_date="today"
- property_id="424145747" (This is Jane's app).

Expected output:

-code

In [ ]:
def sample_run_report(property_id="424145747"):
    """Runs a simple report on a Google Analytics 4 property."""
    os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'bigquery-419120-14d56b3f70eb.json'
    client = BetaAnalyticsDataClient()
    request = RunReportRequest(
        property="properties/{}".format(property_id),
        dimensions=## Please complete the code
        metrics=## Please complete the code
        date_ranges=[DateRange(start_date="2025-01-01", end_date="today")],
    )
    response = client.run_report(request)
    return response

## Problem 1.2 Convert the resulting data into a dataframe

Expected Output:
- Code
- Print the output (screenshot)

In [ ]:
def response_to_df(response):
    columns = []
    rows = []

    for col in response.dimension_headers:
        columns.append(col.name)
    for col in response.metric_headers:
        columns.append(col.name)

    for row_data in response.rows:
        row = []
        for val in row_data.dimension_values:
            row.append(val.value)
        for val in row_data.metric_values:
            row.append(val.value)
        rows.append(row)
    return pd.DataFrame(rows, columns=columns)



response=## Please complete the code
df=response_to_df(response)
print(df)

## Problem 1.3 Prepare Data

Expected output:
- code

In [ ]:
canvas = df[df['medium'] == 'canvas']['sessions'].astype(int)

announcement =## Please complete the code

## Problem 1.4 Run Student's T-test and Welch's T-test.

Expected Output:
- Code
- Conclusion

In [ ]:
# Complete the code

## Problem 1.5 Compare the tests and draw conclusions.

Provide your answers.

## Problem 1.6 Alternative Metric

From this page (https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema), choose a metric that is different from sessions. Explain why your chosen metric is of significance and run statistical tests to tell whether these two channels are different regarding your chosen metric.

Provide your answers.

# Project 2
In this project, you are asked to perform statistical tests to see whether two simulated samples have the same mean statistically.

## Problem 2.1
The two samples below have the same level of variance (standard deviation=5) and sample size but different means (25 and 30).

Based on the data, run both Student's t-test and Welch's t-test.

Expected Output:
- Are these two samples' means statistically different?
- Do you get different results from Student's t-test and Welch's t-test?

In [1]:
import numpy as np
from scipy import stats
np.random.seed(67)

# Simulated data for the control group (the mean is 25, the standard deviation is 5, and the sample size is 1000)
control_group = np.random.normal(loc=25, scale=5, size=1000) #

# Simulated data for the treatment group (the mean is 30, the standard deviation is 5, and the sample size is 1000)
treatment_group = np.random.normal(loc=30, scale=5, size=1000)

In [2]:
# Student's T-test
from pingouin import ttest

ttest(treatment_group,control_group,correction=False)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,23.082351,1998,two-sided,1.072302e-104,"[4.75, 5.63]",1.032274,6.582e+100,NaN

In [ ]:
# Welch's T-test

# Complete your code.

## Problem 2.2

The two samples below have different sample sizes, means, and variances.
Based on the data, run both Student's t-test and Welch's t-test.

Expected Output:
- Are these two samples' means statistically different?
- Do you get different results from Student's t-test and Welch's t-test? Which test is more reliable? Why?

In [76]:
np.random.seed(8690978)
control_group = np.random.normal(loc=25, scale=3, size=60)
treatment_group = np.random.normal(loc=30, scale=20, size=100)

In [79]:
from pingouin import ttest

ttest(treatment_group,control_group,correction=True)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,2.081504,105.10609,two-sided,0.039817,"[0.22, 8.88]",0.265554,1.268,0.365723

In [ ]:
# Welch's T-test

# Complete your code.

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,1.626181,158,two-sided,0.105904,"[-0.98, 10.07]",0.265554,0.589,0.365723

> Answers to this question:  
Do you get different results from Student's t-test and Welch's t-test? Which test is more reliable? Why?